<section class="image-with-text-overlay index-section" data-section-id="{{ section.id }}" data-section-type="image-section">
  <div class="desktop-12 tablet-6 mobile-3">
    {%- if section.settings.image -%}
      <div class="image-wrapper lazyload lazyload-fade" data-bgset="{% include 'bgset', image: section.settings.image %} {% unless section.settings.full_width %}row{% endunless %}" data-sizes="auto">
        <div class="image-overlay">
          <p>{{ section.settings.page_text }}</p>

          {% if section.settings.link != blank %}
            <a class="button" href="{{ section.settings.link }}">
              {{ section.settings.button_text }}
            </a>
          {% endif %}
        </div>
      </div>
    {%- else -%}
      <div class="image-wrapper {% unless section.settings.full_width %}row{% endunless %}">
        <div class="onboard plax-placehold">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
        <div class="image-overlay">
          <p>{{ section.settings.page_text }}</p>

          {% if section.settings.link != blank %}
            <a class="button" href="{{ section.settings.link }}">
              {{ section.settings.button_text }}
            </a>
          {% endif %}
        </div>
      </div>
    {%- endif -%}
  </div>
</section>

<style>
  .image-with-text-overlay .image-overlay p {
    font-size: {{ section.settings.font_size }}px;
    font-weight: {{ section.settings.font_weight }};
    color: {{ section.settings.text_color }};
  }
  .image-with-text-overlay .image-overlay .button {
    background-color: {{ section.settings.button_background_color }};
    color: {{ section.settings.button_text_color }};
  }
  .no-js .image-with-text-overlay .image-wrapper {
    background-image: url({{ section.settings.image | img_url: '1024x' }});
    opacity: 1;
  }
</style>
{% schema %}
{
  "name": "Image with text overlay",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "page_text",
      "label": "Add some content to accompany your image",
      "default": "Image with Text Overlay"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Add a button",
      "info": "Visible only if a link has been chosen"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "Text size",
      "default": 26
    },
    {
      "type": "select",
      "id": "font_weight",
      "label": "Text weight",
      "options": [
        {
          "value": "400",
          "label": "Normal"
        },
        {
          "value": "300",
          "label": "Light"
        },
        {
          "value": "700",
          "label": "Bold"
        }
      ]
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "Button background color",
      "default": "#000"
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
