{% if section.settings.show_product_recommendations %}
<section
  class="product-page relative mt7" id="related-products"
  data-section-id="{{ section.id }}" data-limit="{{ section.settings.limit }}">
  {%- if recommendations.performed -%}
    {%- if recommendations.products_count > 0 -%}
      <div class="product-recommendations" data-product-id="{{ product.id }}">
        <div class="row">
          <div class="section-title lines desktop-12 tablet-6 mobile-3"><h2>{{ section.settings.product_recommendations_heading }}</h2></div>
        </div>
        <div class="product-loop row">
          {%- case section.settings.per_row -%}
            {%- when 2 -%}
              {% assign grid_width = 'desktop-6 tablet-3 mobile-half' %}
            {%- when 3 -%}
              {% assign grid_width = 'desktop-4 tablet-2 mobile-half' %}
            {%- when 4 -%}
              {% assign grid_width = 'desktop-3 tablet-fourth mobile-half' %}
            {%- when 5 -%}
              {% assign grid_width = 'desktop-fifth tablet-2 mobile-half' %}
            {%- when 6 -%}
              {% assign grid_width = 'desktop-2 tablet-1 mobile-half' %}
          {%- endcase -%}
          {%- for product in recommendations.products limit: section.settings.limit -%}
          <div class="product product-index {{ grid_width }}">
            {% render 'product-listing', template: 'product', product: product %}
          </div>
          {%- endfor -%}
        </div>
    {%- endif -%}
  {%- else  -%}
    <div class="page-width" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations"></div>
  {%- endif -%}
  <style>
    #related-products .product-loop {
      margin: 20px 0;
    }
    #related-products .product-index a {
      width: 100%;
      display: block;
    }
    #related-products .product-index a:hover,
    #related-products .product-index a:visited {
      border-bottom: none;
    }
    #related-products .product-index { padding: 0 10px; }
  </style>

</section>
{% endif %}

{% schema %}
{
  "name": "Product Recommendations",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "Show dynamic recommendations",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type":      "range",
      "id":        "per_row",
      "min":       2,
      "max":       6,
      "step":      1,
      "label":     "Products per row",
      "default":   5
    },
    {
      "type":      "range",
      "id":        "limit",
      "min":       2,
      "max":       12,
      "step":      1,
      "label":     "Products shown",
      "default":   5
    }
  ]
}
{% endschema %}
